/*@import "debug.css";*/
@import "base.css";
@import "components.css";
@import "custom.css";

:root {
    --color-font-white: #fff;
    --color-font-black: #000;
    --color-font-dark: #232323;
    --color-accent: #fa8a35;
    --color-background-white: #fff;
    --color-background-light: #F0F0F0;
    --color-background-accent: #EAEAEA;
    --color-accent-light: #EAEAEA;
    --color-accent-grey: #676767;
    --color-accent-dark: #171717;

    /*interpolate-size: allow-keywords;*/
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

body,
form,
button,
input {
    font-family: "Geist", system-ui, sans-serif;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: var(--color-font-black);
}

img {
    display: block;
    object-fit: cover;
}

h1 {
    font-size: clamp(2.986rem, 6vw, 6.854rem);
    font-weight: 800;
}

h2 {
    font-size: var(--size-3xl);
}

h4 {
    font-weight: 500;
}

ul {
    list-style: none;
}

hr {
    color: inherit;
}

@media (max-width: 734px) {
    html {
        font-size: 0.875rem;
    }
}