.notification-banner {
    position: relative;
    z-index: var(--z-index-banner);
    display: flex;
    justify-content: start;
    padding: 0 var(--size-l);
    background-color: var(--color-banner);
    min-height: calc(var(--size-xl) * var(--scale-halfstep));

    @media (min-width: 782px) {
        justify-content: center;
    }

    .notification-banner-content {
        max-width: var(--width-max-content);
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: var(--size-xs);
        padding-block: var(--size-s);
        padding-right: calc(var(--size-l) * var(--scale-halfstep));

        @media (min-width: 782px) {
            justify-content: center;
            margin-inline: auto;
        }
    }

    .notification-banner-close {
        position: absolute;
        right: 0;
        padding-right: var(--size-m);
        margin: var(--size-s);
        background: transparent;
        border: none;
        color: var(--color-text-black);
        font-size: var(--size-l);
        cursor: pointer;
        line-height: 1;
    }
}

.globalnav {
    top: 0px;
    width: 100%;
    height: var(--globalnav-height-mobil);
    padding-inline: var(--size-l);
    padding-block: var(--size-m);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-bg);

    @media(min-width:782px) {
        height: var(--globalnav-height-desktop);
    }

    &.menu-open {
        top: 0px;
        max-height: 100dvh;
        z-index: var(--z-index-header);
        position: fixed;
    }

    .globalnav-content {
        max-width: var(--width-max-content);
        margin-inline: auto;
        display: grid;
        gap: var(--size-l);
        grid-template-columns: 1fr 1fr;

        @media (min-width:1280px) {
            grid-template-columns: 1fr auto 1fr;
        }

        .globalnav-logo-container {
            display: flex;
            justify-content: start;
            align-items: center;
            width: fit-content;
        }

        .globalnav-logo svg {
            width: calc(var(--size-3xl) * var(--scale-halfstep));
            height: auto;
            display: block;
            fill: var(--color-text);

            @media (min-width:782px) {
                width: var(--size-4xl);
            }
        }

        .globalnav-links {
            display: none;

            button {
                border: 0;
                background: none;
                border-radius: var(--size-2xs);
                padding: var(--size-2xs) var(--size-s);

                .material-symbols-filled {
                    display: inline-block;
                    transition: transform 0.382s cubic-bezier(0.618, 0.062, 0.272, 1);
                }

                &:hover {
                    background-color: var(--color-border);

                    .material-symbols-filled {
                        transform: rotateX(180deg);
                    }
                }
            }

            @media (min-width:1280px) {
                display: flex;
                gap: var(--size-2xs);
                flex-direction: row;
                align-items: center;
            }
        }

        .globalnav-actions {
            display: flex;
            justify-self: end;
            align-items: center;
            gap: calc(var(--size-s) * var(--scale-halfstep));

            .globalnav-cta {
                display: none;
                gap: calc(var(--size-s) * var(--scale-halfstep));

                @media (min-width:782px) {
                    display: flex;
                }
            }

            .globalnav-mobile button {
                font-size: var(--size-l);
                background: none;
                border: none;
                cursor: pointer;

                @media (min-width:1280px) {
                    display: none;
                }
            }
        }
    }

    .globalnav-mobile-menu[hidden] {
        display: none !important;
    }

    .globalnav-mobile-menu {
        position: fixed;
        z-index: 999;
        overflow-y: auto;
        top: var(--globalnav-height-mobil);
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
        width: 100%;
        background-color: var(--color-bg);

        @media (min-width:782px) {
            top: var(--globalnav-height-desktop);
        }

        @media (min-width:1280px) {
            display: none;
        }

        .globalnav-mobile-menu-content {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            padding-inline: var(--size-l);
            padding-top: var(--size-l);
            gap: var(--size-xl);

            .globalnav-mobile-menu-links {
                display: flex;
                flex-direction: column;
                flex: 1 1;
                gap: var(--size-m);
                font-size: calc(var(--size-m) * var(--scale-halfstep));

                > :last-child {
                    display: flex;
                    flex: 1 1;
                }
            }

            .globalnav-mobile-menu-actions {
                display: flex;
                flex-direction: column;
                gap: var(--size-s);
                padding-block: var(--size-l);
                position: sticky;
                bottom: 0;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc(1em - var(--size-xl));
                    width: calc(100% + (2 * var(--size-l)));
                    height: 1px;
                    background-color: var(--color-border);
                }

                @media (min-width:600px) {
                    flex-direction: row;
                }

                @media (min-width:782px) {
                    display: none;
                }
            }
        }
    }
}

html:has(.globalnav.menu-open),
body:has(.globalnav.menu-open) {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: var(--width-content);
    margin-inline: auto;
    padding-inline: var(--size-l);

    @media (min-width:782px) {
        padding-inline: var(--size-2xl);
    }
}

.cta-btn-primary {
    position: relative;
    z-index: 0;
    overflow: visible;
    padding: var(--size-s) var(--size-l);
    width: fit-content;
    border-radius: var(--size-m);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-xs);
    color: var(--color-overwrite-black);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -2;
        border-radius: inherit;
        background-color: var(--color-accent);
        opacity: 1;
        transition: all 0.272s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--color-accent);
        border-radius: inherit;
        border: 1px solid var(--color-accent);
        transition: all 0.272s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    &:hover {

        &::before {
            inset: calc((var(--size-2xs) * var(--scale-wholestep-dec)) * -1);
            opacity: 0;
        }

        &::after {
            inset: calc((var(--size-2xs) * var(--scale-wholestep-dec)) * -1);
            border-color: var(--color-accent);
        }
    }
}

.cta-btn-secondary {
    position: relative;
    z-index: 0;
    overflow: visible;
    padding: var(--size-s) var(--size-l);
    width: fit-content;
    border-radius: var(--size-m);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-xs);
    color: var(--color-text);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -2;
        border-radius: inherit;
        background-color: transparent;
        opacity: 1;
        transition: all 0.272s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: transparent;
        border-radius: inherit;
        border: 1px solid var(--color-text);
        transition: all 0.272s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    &:hover {
        color: var(--color-bg);
        transition: all 0.272s cubic-bezier(0.618, 0.062, 0.272, 1);

        &::before {
            inset: calc((var(--size-2xs) * var(--scale-wholestep-dec)) * -1);
            background-color: var(--color-text);
            opacity: 0;
        }

        &::after {
            inset: calc((var(--size-2xs) * var(--scale-wholestep-dec)) * -1);
            border-color: var(--color-text);
            background-color: var(--color-text);
        }
    }
}

.cta-link {
    color: var(--color-accent);
    text-decoration: underline;
    font-weight: 500;

    >span:first-child {
        text-decoration: none;
    }

    &:hover>span:first-child {
        text-decoration: underline;
    }

    &:has(.material-symbols-outlined) {
        text-decoration: none;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    height: 1px;
    width: 1px;
}

.review {
    width: fit-content;
    /*border: 1px solid var(--color-border);
    background-color: black;
    padding: var(--size-xs) var(--size-m);
    border-radius: var(--size-m);*/

    img {
        width: var(--size-xl);
        height: var(--size-xl);
        border-radius: 50%;

        &:not(:first-child) {
            margin-left: calc(var(--size-xs) * -1);
        }
    }

    .stars {
        display: flex;

        color: var(--color-accent);
    }

    p {
        margin-top: calc(var(--size-2xs) * -1);
    }
}

.slider {
    overflow: hidden;

    .slider-track {
        display: flex;
        transition: transform 1.618s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    .slider-item {
        flex: 0 0 calc(100% - (var(--size-m) * 2));
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity 1.618s cubic-bezier(0.618, 0.062, 0.272, 1);

        @media(min-width:782px){
            flex: 0 0 calc(100% - (var(--size-2xl) * 2));
        }
    }

    .slider-dots {
        display: flex;
        justify-content: center;
        gap: var(--size-m);
        margin-top: var(--size-m);
    }

    .slider-dot {
        width: var(--size-s);
        height: var(--size-s);
        border-radius: 99px;
        border: 0;
        background: var(--color-text-grey);
        opacity: 0.618;
        cursor: pointer;
        transition: width 0.618s cubic-bezier(0.618, 0.062, 0.272, 1), background 0.618s cubic-bezier(0.618, 0.062, 0.272, 1);
    }

    .slider-dot.is-active {
        opacity: 1;
        background: var(--color-text);
        width: var(--size-l);
    }
}

.cookie-rest {
    border: 1px solid var(--color-border);
    padding: var(--size-xs);
    width: fit-content;
    border-radius: var(--size-l);
    white-space: nowrap;

    button {
        color: var(--color-text-grey);
        background-color: var(--color-bg);
        font-size: var(--size-m);
        line-height: 1;
        border: none;
        border-radius: 50%;
        padding: var(--size-xs);
        cursor: pointer;

        &:hover {
            color: var(--color-text);
        }
    }
}

.theme-switch {
    border: 1px solid var(--color-border);
    padding: var(--size-xs);
    width: fit-content;
    border-radius: var(--size-l);
    white-space: nowrap;

    button {
        color: var(--color-text-grey);
        background-color: var(--color-bg);
        font-size: var(--size-m);
        line-height: 1;
        border: none;
        border-radius: 50%;
        padding: var(--size-xs);
        cursor: pointer;

        &:hover {
            color: var(--color-text);
        }

        &[aria-pressed="true"] {
            background-color: var(--color-border);
            color: var(--color-text);
        }
    }
}

.globalfooter {
    width: 100%;
    padding-block: var(--size-l);
    border-top: 1px solid var(--color-border);
    background-color: var(--color-bg);

    .globalfooter-container {
        display: grid;
        gap: var(--size-2xl);
        width: 100%;
        max-width: var(--width-content);
        margin-inline: auto;
        margin-top: var(--size-2xl);

        .globalfooter-content {
            display: grid;
            gap: var(--size-l) var(--size-2xl);
            grid-template-columns: 1fr;

            @media(min-width: 782px) {
                grid-template-columns: auto auto;
            }

            .globalfooter-logo-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--size-l);
                justify-content: space-between;
                align-items: center;


                @media (min-width:782px) {
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;

                }

                .globalfooter-logo svg {
                    width: calc(var(--size-3xl) * var(--scale-halfstep));
                    height: auto;
                    display: block;
                    fill: var(--color-text);
                }

                .globalfooter-social {
                    display: flex;
                    align-items: center;
                    gap: var(--size-m);

                    svg {
                        width: calc(var(--size-m) * var(--scale-halfstep));
                        color: var(--color-text);
                    }

                    .social-icons {
                        display: flex;

                    }
                }
            }

            .globalfooter-links {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                gap: var(--size-l);

                @media(min-width: 600px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media(min-width: 906px) {
                    grid-template-columns: repeat(4, 1fr);
                }

            }
        }

        .globalfooter-footer {
            display: flex;
            flex-wrap: wrap;
            gap: var(--size-m);
            align-items: center;
            justify-content: space-between;
            padding-top: var(--size-l);
            padding-bottom: var(--size-s);
            border-top: 1px solid var(--color-border);


        }




    }


}

#hero-container {
    width: 100%;
    min-height: var(--height-hero);
    background-image:
        linear-gradient(to top,
            rgba(0, 0, 0, 25.9) 0%,
            rgba(0, 0, 0, 0) 41.9%),
        url("../src/img/gradient.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-overwrite-white);

    h1,
    p {
        color: var(--color-overwrite-white);
    }
}


/* --------- In Development --------- */

.globalnav-links {
    position: relative;
}

.globalnav-dropdown {
    position: absolute;
    top: calc(var(--globalnav-height-desktop) - var(--size-xl) - 1px + var(--size-xl) - var(--size-s));
    right: 0;
    left: 0;
    width: 800px;
    left: 50%;
    transform: translateX(-50%) translateY(calc(var(--size-s) * -1));
    padding-top: 0;
    background-color: var(--color-bg);
    border-radius: var(--size-m);
    color: var(--color-text);

    opacity: 0;
    visibility: hidden;

    transition: opacity .15s ease-in, transform .15s ease-in, visibility .15s ease-in;
    transition-delay: 50ms;
}

.globalnav-dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--size-l);
    row-gap: 0;
}

.globalnav-dropdown-link {
    width: 100%;
    border-radius: var(--size-2xs);
    padding: var(--size-2xs) var(--size-s);
    transition: background-color 0.128s ease-in-out;

    &:hover {
        background-color: var(--color-border);
    }
}

.globalnav-dropdown::before {
    content: "";
    position: absolute;
    top: calc(var(--size-xl) * -1);
    width: 100%;
    height: var(--size-xl);
}




.globalnav-dropdown-container:hover .globalnav-dropdown,
.globalnav-dropdown-container:focus-within .globalnav-dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(calc(var(--size-s) * 1));



}





.faq-drawers{
    width: 100%;
}

.faq-drawers-question{
    width: 100%;

    .faq-drawers-question-text{

    }

    .faq-drawers-question-toggle{

    }
}

.faq-drawers-answer{

}