@import "base.v2.css";
@import "components.v2.css";
@import "custom.css";

@import "padding.css";
@import "margin.css";
@import "typography.css";
@import "border-radius.css";
@import "gaps.css";
@import "colors.css";



:root {
    color-scheme: light dark;

    --color-text: #000;
    --color-overwrite-white: #fff;
    --color-overwrite-black: #000;
    --color-banner: var(--color-accent);
    --color-text-grey: #aaa;
    --color-bg: #fff;
    --color-border: #eaeaea;
    --color-surface: #fafafa;
    --color-accent: #BDED3D;
    --color-accent-light: #ebfcbd;
    --color-error: #d92323;

    --font-global: "Geist", system-ui, sans-serif;
    --font-icons: "Material Symbols Outlined", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #fff;
        --color-text-grey: #aaa;
        --color-bg: #000;
        --color-border: #343434;
        --color-surface: #121212;
    }
}

:root[data-theme="light"] {
    color-scheme: light;
    --color-text: #000;
    --color-text-grey: #aaa;
    --color-bg: #fff;
    --color-border: #eaeaea;
    --color-surface: #f5f5f5;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-text: #fff;
    --color-text-grey: #aaa;
    --color-bg: #000;
    --color-border: #343434;
    --color-surface: #121212;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

header {
    z-index: 999;
}

body {
    font-family: var(--font-global);
    font-size: 1em;
    font-weight: 400;
    line-height: var(--scale-wholestep);
    background-color: var(--color-bg);
    color: var(--color-text);
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: var(--color-text);
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    list-style-position: inside;
}

li {
    font-size: var(--size-m);
}


img {
    display: block;
    object-fit: cover;
}

form,
button,
input,
label {
    font-family: var(--font-global);
    color: var(--color-text);
    font-size: inherit;
}

input {
    background: var(--color-background-light);
    color: var(--color-font-dark);
    border: 0;
    border-radius: 6px;
    padding: 8px 85px 8px 12px;
}

footer {
    p,
    a,
    li {
        font-size: calc(var(--size-m) / var(--scale-quarterstep));
        font-weight: 300;
        color: var(--color-text-grey);
    }

    a:hover {
        color: var(--color-text);
    }
}

input,
textarea {
    padding: var(--size-m) var(--size-l);
    border: 1px solid var(--color-border);
    border-radius: var(--size-xs);
}

input::placeholder {
    color: var(--color-text-grey);
}


form {
    input:user-invalid {
        border-color: var(--color-error);
    }

    input:user-invalid+.form-error {
        display: block;
    }

    div:has(> div > input[type="checkbox"]:user-invalid)>.form-error {
        display: block;
    }

    div:has(> div > input[type="checkbox"]:user-invalid)>div>label {
        color: #c62828;
    }

    input[type="checkbox"]+label {
        color: var(--color-text);
        font-size: inherit;
    }

    label {
        color: var(--color-text);
        font-size: calc(var(--size-m) / var(--scale-halfstep));
        margin-left: var(--size-l);

        sup {
            color: var(--color-error);
        }
    }


    a {
        text-decoration: underline;
        font-weight: 500;
    }

    button {
        border: none;
    }

    .form-error {
        display: none;
        color: var(--color-error);

    }

    fieldset {
        border: none;

        legend {
            margin-left: var(--size-l);
        }

        label,
        input {
            margin-left: 0;
            height: fit-content;
            display: flex;
            align-items: center;
        }
    }

    select {
        background-color: inherit;
        color: var(--color-text-grey);
        font-size: inherit;
        padding: var(--size-s) var(--size-xl);
        border: 1px solid var(--color-border);
        border-radius: var(--size-m);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    select:user-valid {
        color: var(--color-text);
    }


}


.select-wrap {
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="grey"/></svg>');
    background-repeat: no-repeat;
    background-position: right var(--size-l) center;
    background-size: var(--size-l);
}